
.card{

  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topnav-right {
    float: right;
  }

  .card-img-top{
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.479), 0 6px 20px 0 rgba(0, 0, 0, 0.527);
  }
  .carousel-item img {
    max-height: 250px;
    margin: 0 auto;
}
.btn{
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.096), 0 6px 20px 0 rgba(0, 0, 0, 0.068);
}
  
h2:after {
    content:'';
    display:inline-block;
    width:100%; height:100%;
    border-bottom:2px solid rgb(194, 54, 84);
    
  }
  h2{
    color: rgb(170, 29, 83);
  }

  